.footer {
  margin: 0;
  height: 359px;
  background-image: url("../images/footer.jpg");
  background-size: cover;
  background-position: center;
  padding: 24px 120px;
  display: flex;
  justify-content: center;
  
  &__logo {
    width: 115px;
    height: 76px;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
